
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
body{
  background-image: url(6067.jpg);
  background-size: 100vw;
  background-repeat: repeat-y;
}
form{
  margin-top: 30px;
}
button{
  margin: 30px;
  width: 100px;
  margin: 20px auto 20px auto;
  height: 50px;
  font-size: 20px;
  border-radius: 40px;
  background-color: rgb(141, 210, 187);
}
input{
  width: 200px;
  height: 40px;
  border-radius: 30px;
  text-align: center;
}
.selected{
  background-color: aqua;
}
.dis{
  background-color: aliceblue;
}
.red{
  text-decoration: line-through;
}
.containerWithList{
  display: flex;
  background-color: rgba(250, 235, 215, 0.953);
justify-content: center;
flex-direction: column;
  margin: auto;
  border: 1px solid black;
  width: 400px;
}
.eachRecipe{
  background-color: bisque;
  width: 500px;
  margin: auto;
  margin-bottom: 20px;
  padding: 30px;
}
.list{
  width: 90%;
  text-align: center;
}
.list:hover{
  background-color: rgb(247, 210, 241);
}
li{
  list-style: none;
  font-size: 15px;
}
.allIng:hover{
  background-color: rgba(246, 229, 168, 0.541);
}
.allIng:active{
  background-color: rgb(249, 104, 104);
}

li::first-letter{
  text-transform: uppercase;
  font-size: 20px;
}
.del{
  display: none;
}
.containerSaved{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.saved{
  background-color:rgba(122, 224, 190, 0.712);
  width: 200px;
  margin: 10px;
  height: auto;
}
.smallImg{
  border-radius:50px;
}


@media all and (max-width:500px){
  .containerWithList{
    width: 260px;
  }
   .eachRecipe{
    width: 300px;
   }
   .saved{
    width: 100px;
    margin: 5px;
    font-size: 12px;
  }
}
